Sign up to save your links!

<form action='/sign_up_complete' method=POST>
  <label for="email">Email: </label>
  <input type="text" name="email">
  <label for="password">Password: </label>
  <input type="password" name="password">
  <input type="submit" value="Register">
</form>
