<form action='/links' method="post">
  <label for="Link"> URL
  <input type='text' name="Link" size="80" placeholder="Enter URL here">
</label> </br> </br>
  <label for="Title"> Title

  <input type='text' name="Title" size="80" placeholder="Enter title here"> </br> </br>
  <label for="Tag"> Tag

  <input type='text' name="tag" size="50" placeholder="Enter tag here"> </br> </br>
  <input type="submit" value="Submit">
  </label>
</form>
