<HTML>

<head>

</head>

<body>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
  <% end %>
</ul>

<form action="/links/new" method="get">
<input type="submit" value="Add Link">
</form>

<form action="tags/bubbles" method="get">
  <input type="text" name="tags">
  <input type="submit" value="Filter Tags">
</form>

</body>

</HTML>
